<!--  -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12">
	<div class="row ">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-5">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title mb-0 ">Gestion du stock</h5>
				</div>
				<div class="card-body text-center">
					<form id="agentForm">
						<div class="row d-flex justify-content-center">
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Produits</label>
								<input type="text" class="form-control" id="nom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Quantités</label>
								<input type="text" class="form-control" id="nom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Prix</label>
								<input type="text" class="form-control" id="nom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Date stocké</label>
								<input type="text" class="form-control" id="nom" required>
							</div>
						</div>
						<button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 mb-5">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title mb-0 ">Stock Disponible</h5>
				</div>
				<div class="card-body text-center">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-light table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Produits</th>
										<th>Quantités</th>
										<th>Prix</th>
										<th>Date stocké</th>
									</tr>
								</thead>
								<tbody id="concernerTableBody">
									<!--   Data will be loaded here via AJAX-->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- -->