<!--  -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12">
	<div class="row ">
		<div class="col-xs-12 col-sm-12 col-md-12 mb-5">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title mb-0 ">Gestion des utilisateurs</h5>
				</div>
				<div class="card-body text-center">
					<form id="agentForm">
						<div class="row">
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Nom</label>
								<input type="text" class="form-control" id="nom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="prenom" class="form-label">Login</label>
								<input type="text" class="form-control" id="prenom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Mot de passe</label>
								<input type="password" class="form-control" id="nom" required>
							</div>
							<div class="col-sm-3 mb-3">
								<label for="nom" class="form-label">Fonction</label>
								<select class="form-control" name="Type compte" id="type">
                                    <option value="">Fonction</option>
                                    <option value="Administrateur">Administrateur</option>
                                    <option value="Agent">Agent</option>
                                </select>
							</div>
						</div>
						<button type="submit" class="btn btn-primary mb-2">Créer l'utilisateur</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 mb-5">
			<div class="card">
				<div class="card-header text-center">
					<h5 class="card-title mb-0 ">Liste des utilisateurs</h5>
				</div>
				<div class="card-body text-center">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-light table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nom</th>
										<th>Login</th>
										<th>Mot de passe</th>
										<th>Fonctions</th>
									</tr>
								</thead>
								<tbody id="agentsTableBody">
									<!--   Data will be loaded here via AJAX-->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- -->